# Auto detect text files and perform LF normalization
* text=auto
*.dylib filter=lfs diff=lfs merge=lfs -text
Assets/Real[[:space:]]Stars[[:space:]]Skybox/**/*.cubemap filter=lfs diff=lfs merge=lfs -text
Assets/Real[[:space:]]Stars[[:space:]]Skybox/StarSkybox04/CubemapStars.cubemap filter=lfs diff=lfs merge=lfs -text
Assets/Real\\[[:space:]]Stars\\[[:space:]]Skybox/**/*.cubemap filter=lfs diff=lfs merge=lfs -text
